<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Logo image:</strong>
  <%= @company.logo_image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<%= link_to 'Edit', edit_admin_company_path(@company) %> |
<%= link_to 'Back', admin_companies_path %>
