<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Benefits</h3>
      <div class="card-options">
        <%= link_to 'New Benefit', new_admin_benefit_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Url Link</th>
            <th class="text-center">Bg image</th>
            <th>Status</th>
            <th class="text-center">Position</th>
            <th class="text-center"><i class="fa fa-cogs"></i></th>
          </tr>
        </thead>
        <tbody>
          <% @benefits.each do |benefit| %>
          <tr>
            <td><%= benefit.title %></td>
            <td><div class="small text-muted"><%= benefit.description %></div></td>
            <td><%= link_to "Ver Link", benefit.url, class: "btn btn-outline-secondary btn-sm", target: "_Blank" %></td>
            <td class="text-center">
              <span class="avatar avatar-md" style="background-image: url(<%= benefit.bg_image %>)"></span>
              <!-- <%= benefit.bg_image %> -->
            </td>
            <td><%= status_color(benefit.status) %></td>
            <td class="text-center"><%= benefit.position %></td>
            <td class="text-center">
              <div class="item-action dropdown">
                <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to '<i class="dropdown-icon fa fa-eye"></i> Show'.html_safe, [:admin, benefit], class: "dropdown-item" %>
                  <%= link_to '<i class="dropdown-icon fe fe-edit-2"></i> Edit'.html_safe, edit_admin_benefit_path(benefit), class: "dropdown-item" %>
                  <%= link_to '<i class="dropdown-icon fe fe-trash"></i> Delete'.html_safe, [:admin, benefit], method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
