<div class="row">
<div class="col-lg-8">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Visualizar Item</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="form-group">
            <label class="form-label">Title</label>
            <div class="form-control-plaintext"><%= @benefit.title %></div>
          </div>

          <div class="form-group">
            <label class="form-label">Position</label>
            <div class="form-control-plaintext"><%= @benefit.position %></div>
          </div>

          <div class="form-group">
            <label class="form-label">Status</label>
            <div class="form-control-plaintext"><%= status_color(@benefit.status) %></div>
          </div>

      </div>

      <div class="col-md-6 col-lg-6">

        <div class="form-group">
          <label class="form-label">Description</label>
          <div class="form-control-plaintext"><%= @benefit.description %></div>
        </div>

        <div class="form-group">
          <label class="form-label">Url</label>
          <div class="form-control-plaintext"><%= @benefit.url %></div>
        </div>



    </div>
    </div>
  </div>
    <div class="card-footer text-right">
      <div class="d-flex">
        <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_admin_benefit_path(@benefit), class: "btn btn-warning" %>&nbsp;&nbsp;&nbsp;
        <%= link_to '<i class="fa fa-arrow-left"></i> Voltar'.html_safe, admin_benefits_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Background Image</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <%= image_tag(@benefit.bg_image_url, class: "rounded") if @benefit.bg_image? %>
          </div>
        </div>
    </div>
  </div>

</div>
