<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>
<% @articles.each do |article|%>
<%= article.title %>
<% end %>
<hr>
<% @staffs.each do |staff|%>
<%= staff.name %>
<% end %>
<hr>
<% @benefits.each do |benefit|%>
<%= benefit.title %>
<% end %>
<hr>
<% @partners.each do |partner|%>
<%= partner.name %>
<% end %>
<hr>
<% @solutions.each do |solution| %>
<%= solution.title %>
<% end %>
<hr>
<% @reports.each do |report| %>
<%= report.title %>
<% end %>
<hr>
<% @articles.each do |article|%>
<%= article.title %>
<% end %>
<hr>
<% @companies.each do |company|%>
<%= company.name %>
<% end %>
<hr>
